@media (prefers-color-scheme: dark) {
  body {
    background: $dark-background;
  }

  a {
    color: $ghostWhite;

    &.active, &:hover {
      color: $midGray !important;
    }
  }

  header {
    background: $dark-background;
    h1 {
      background: url('../images/logo-dark.svg') no-repeat center center;
    }
  }

  section {
    &#home {
      h2 {
        color: $white;
      }
      p {
        color: $ghostWhite;
      }
    }

    &#about {
      p {
        color: $ghostWhite;
      }
    }
  
    &#contact {
      h3 {
        color: $white;
      }
      p {
        color: $midGray;
        a {
          color: $white;
        }
      }
    }
  }

  footer {
    p {
      color: $ghostWhite;
    }
  }
}
