footer {
  font-family: $sourceCodePro;
  font-weight: $font-weight-medium;
  font-size: 14px;
  line-height: 116px;
  padding-top: 180px;

  @include breakpoint(max-width $iPhone-landscape) {
    line-height: 30px;
    padding-bottom: 60px;
  }

  #copy {
    color: $silverSand;
    display: inline;

    @include breakpoint(max-width $iPhone-landscape) {
      display: block;
    }
  }

  ul {
    float: right;

    @include breakpoint(max-width $iPhone-landscape) {
      float: left;
    }

    li {
      display: inline-block;
      text-align: left;

      a {
        display: block;
        width: 84px;
        line-height: 84px;
        margin-left: 24px;
        text-transform: uppercase;

        @include breakpoint(max-width $iPhone-landscape) {
          margin-left: 0;
          line-height: 30px;
        }
      }
    }
  }
}
