footer {
  @include breakpoint(max-width $iPhone-landscape) {
    position: relative;
    text-align: center;
  }

  #copy {
    position: absolute;
    bottom: 48px;
    left: 104px;
    font-size: 12px;
    line-height: 15px;
    color: $gray;
    
    @include breakpoint(max-width $iPhone-landscape) {
      bottom: 15px;
      left: 0;
      width: 100%;
      font-size: 11px;
    }
  }

  ul {
    position: absolute;
    bottom: 48px;
    right: 104px;
    @include breakpoint(max-width $iPhone-landscape) {
      bottom: 40px;
      left: 0;
      right: 0;
      width: 100%;
    }

    li {
      font-weight: 600;
      display: inline-block;
      padding: 0 30px;
      @include breakpoint(max-width $iPhone-landscape) {
        padding: 0 15px;
        font-size: 14px;
      }
    }
  }
}
