body {
  font-family: $openSans;
  font-weight: $font-weight-regular;
  font-size: 18px;
  line-height: 25px;
  color: $mineShaft;
  background: $white;
  position: relative;
}

a {
  color: $mineShaft;
  text-decoration: none;
  transition: .5s all;

  &:hover {
    color: $silverSand;
    text-decoration: none;
  }

  &.active {
    color: $silverSand;
  }
}

#totop {
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 30px;
  height: 30px;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;

  &.display {
    opacity: 1;
    visibility: visible;

    @include breakpoint(max-width $iPhone-landscape) {
      visibility: hidden;
      opacity: 0;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/arrow.svg') no-repeat center center;
    background-size: cover;
  }
}
