header {
  h1 {
    position: absolute;
    top: 93px;
    left: 104px;
    text-indent: -9999px;
    display: inline-block;
    width: 50px;
    height: 40px;
    background: url('../images/logo.svg') no-repeat center center;
    cursor: pointer;
    animation-duration: 1.5s !important;
    animation-delay: .5s !important;
    @include breakpoint(max-width $iPhone-landscape) {
      top: 50px;
      left: 50px;
    }
  }

  ul {
    position: absolute;
    top: 100px;
    right: 104px;
    @include breakpoint(max-width $iPhone-landscape) {
      top: 200px;
      left: 104px;
      right: 0;
    }
    @include breakpoint(max-width $iPhone-landscape) {
      top: 130px;
      left: 50px;
    }
    li {
      display: inline-block;
      padding: 0 25px;
      @include breakpoint(max-width $iPhone-landscape) {
        padding: 0 30px 0 0;
      }
    }
  }
}
