// Colors
$mineShaft: #272727;
$midGray: #69696A;
$silverSand: #BCBDBD;
$white: #FFFFFF;
$background: #E5E5E5;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');

$openSans: 'Open Sans', sans-serif;
$sourceCodePro: 'Source Code Pro', monospace;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Media Queries
$iPad-portrait: 800px;
$iPad-landscape: 1115px;
$iPhone-portrait: 500px;
$iPhone-landscape: 740px;
$iPhone8-landscape: 680px;
$iPhoneSE-portrait: 320px;
$iPhoneSE-landscape: 570px;
