// Light
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-light-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

// Light + Italic
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-lightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

// Book
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-book-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-book-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

// Book + Italic
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-bookitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

// Regular
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-regular-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

// Regular + Italic
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-regularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

// Medium
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-medium-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

// Medium + Italic
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

// Semibold
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

// Semibold + Italic
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-semibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

// Bold
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-bold-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// Bold + Italic
@font-face {
    font-family: 'Metro Sans';
    src: url('../fonts/metrosans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/metrosans-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
