@media (prefers-color-scheme: dark) {
  body {
    background: $dark;
    color: $white;
  }

  a {
    color: $white;
  }

  .navbar {
    background: $dark;
  }

  .navbar-dark {
    .navbar-brand {
      color: $white;

      &:hover {
        color: $light;
      }
    }
    .navbar-nav {
      .nav-link {
        color: inherit;

        &:hover {
          color: $light;
        }
      }
    }
  }

  #about {
    .content {
      p {
        color: $light;
      }
    }
  }

  body section#projects {
    .project {
      .content {
        a {
          &::after {
            background: url('../images/arroww.svg') no-repeat center center;
          }
        }
      }
    }
  }

  footer {
    small {
      a {
        &:hover {
          color: $white;
        }
      }
    }
  }
}
