// Colors
$dark: #121212;
$light: #999999;
$white: #FFFFFF;
$black: #000000;

// Typography
@import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500&display=swap');

$metroSans: 'Metro Sans', sans-serif;
$sourceCodePro: 'Source Code Pro', monospace;

$font-weight-light: 200;
$font-weight-book: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
